** end of undefined **

** start of undefined **

h1{
  text-align:center;
  color:white;
  padding-top:2em;
  font-size:35px;
}

p[name="author"]{
  text-align:center;
  color:white;
}
  p[name="pro"]{
    text-align:center;
    color:white;
  }

p[name="for"]{
  text-align:center;
  color:white;
  padding-top:0.5em;
}

p[name="required"]{
  text-align:center;
  color:white;
  padding-top:em;
}

body{
  background-color:#4c494d;
  font-family: Tahoma;
  width:100%;
  margin:0;
  height:100vh;
  color:white;
  font-size:16px;
}
 /*fieldset{
   padding:1rem 0;
   border:none;
   border-bottom:3px solid hsl(240, 5%, 63%);
   border-top:3px solid hsl(240, 5%, 63%);
   margin:auto;
   margin-top:3em;
   margin-left:5em;
   margin-right:5em;
 }*/


 fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
  margin-left:5em;
  margin-right:5em;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

textarea{
  
}

input, textarea {
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}

 /*input{
   display:block;
   border:1px solid;
   margin-top:0.5em;
   margin-bottom:1.5em
 }*/

 .inline{
   width:unset;
   margin:0 0.5em 0 0;
   vertical-align:middle;
 }

a{
  color:cyan;
}